* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {
    background-color: #DFF0E7;
    font-family: 'Red Rose', cursive;
}

#container {
    width: auto;
    margin-left: auto;
    margin-right: auto;

}

#main_logo {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: #9CB4C3;

}

#logopk {
    float: left;
    margin-left: 30px;
    margin-top: 30px;

}

#logosspk {
    float: left;
    margin-left: 20px;
    margin-top: 30px;


}

.text_logo {
    clear: both;
    position: absolute;
    right: 0;
    left: 0;
    top: 10px;
    font-size: 600;
    text-align: center;
    color: rgb(58, 143, 195);


}

#center {
    clear: both;
    position: absolute;
    right: 0;
    left: 0;
    top: 80px;
    text-align: center;


}

input {
    border-radius: 5px;
    background-color: #99F2C4 ;
    border: none;
}

input::placeholder {
    color:#68706C;
    text-align: center;
    width: 200px;
    height: 20px;
    
}

.ikony {
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: right;
    background-color: #9CB4C3;
    border: none;


}

.ikona {
    background-color: #9CB4C3;
    border: none;
    font-size: 20px;
    margin-left: 15px;

}

.ikona:hover:hover {
    cursor: pointer;
    color: green
}


.mainitem_nav {
    height: auto;
    text-align: center;
    background-color: #99F2C4;
}

.przycisk {
    display: inline-block;
    text-align: center;
    margin-left: 10vh;
    font-size: 20px;
    font-weight: 600;
    color: #68706C;
    letter-spacing: 1px;

}

.przycisk:hover {
    background-color: #47705B;
    color: #DFF0E7;
    cursor: pointer;
}

#content {}

#section_img {
    display: inline-block;
    margin-top: 20px;
    width: auto;
    margin-left: 25vh;

}

.zdjecia {
    float: left;
    margin-left: 10px;


}

#section_sklep {}


footer {
    background-color: lightgrey;
    height: auto;
    width: auto;
}

.footer-left {
    display: inline-block;
    width: 50vw;
    text-align: center;

}

.footer-right {
    float: right;
    width: 50vw;
    text-align: center;
    letter-spacing: 5px;
}

button {
    font-size: 30px;
    border: none;
    background-color: lightgrey;
}
