* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #282b27;
    list-style-type: none;
    box-sizing: border-box;
}

html,body {
    background-color: #FEFCFF;
    font-family: 'Red Rose', cursive;
    margin:0;
	padding:0;
    height:100%;

}

.breadcrumb{
    display: flex;


    margin-right: 64.5%;

    color: #cccccc;
}
.breadcrumb-item>a{
    display: flex;

    font-size: 20px;
    font-style: italic;
    color: #cccccc;
}
.breadcrumb-item_active{
    display: flex;
    justify-content: left;
    color: #cccccc;
    font-size: 20px;
    font-style: italic;
}
@media screen and (max-width:1050px){
    .breadcrumb{
        justify-content: left;
        display: flex;
        flex: 1 1 auto;
        margin-left: 0;
        flex-wrap: nowrap;
    }
}

#main_logo {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    align-content: center;
    padding: 1%;
    width: 100%;
    background-color: #FEFCFF;

}

#logopk {
    float: left;
    margin-left: 2%;
    margin-top: 30px;
    height: auto;

}

#logosspk {
    float: left;
    margin-top: 30px;
}

.text_logo {
    flex: 1 1 auto;
}
.text_logo h1 {
    font-size: 48px;
    text-align: center;
    color: rgb(58, 143, 195);
    font-weight: 700;
    margin-right: 10%;
}




.ikony {
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: right;
    background-color: #FEFCFF;
    border: none;


}

.ikona {
    background-color: #FEFCFF;
    border: none;
    font-size: 20px;
    margin-left: 15px;

}

.ikona:hover {
    cursor: pointer;
}

nav{
    position: -webkit-sticky;
    top: 0;
    position: sticky;
    left: 0;
    z-index: 100;
    width: 100% !important;
}
nav ul{
    background-color:  #C0A4F9;
    overflow: hidden;
    color: #282b27;
    padding: 0;
    text-align:center ;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;

}
a{
    text-decoration: none;
    color: inherit;
}
nav ul li{
    display: inline-block;
    padding: 20px;

}
nav ul li:hover{
    color: white;
    background-color:  #b696fa;
}
.handle{
    width:100% ;
    background-color:   #9287ab;
    text-align: left;
    box-sizing:border-box ;
    padding: 15px 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
 display: none;
}
.handle:hover{
    color: white;
}
@media screen and (max-width:750px){
    nav ul{
        max-height: 0;
    }
    .showing{
        max-height: 20em;
    }
   nav ul li{
     width: 100%;
     box-sizing: border-box;
     padding: 15px;
     text-align: left;
 }

 .handle{
     display: block;
 }
}


#container{
   display: -webkit-flex;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   align-content: center;
}


.produkt{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: left;
    align-self: stretch;
}

.zdjecia {
    float: left;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;


}

h1 {
    font-size: 40px;
    margin-top: 2%;
    text-align: center;
}

a.header {
    font-size: 60px;
}

.row1 img {
    width: 10vw;
    height: 10vh;
    margin-left: 40px;
    border-color: gray;
    border-width: 3px;
}
.photos {
    overflow-y:scroll;
    max-height: 200px;

}
.content{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: repeat(13,auto);
    grid-column-gap: 1.5%;
    grid-row-gap: 0.5%;
}
.kubek{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    border: 5px solid;
    border-color: slateblue;
}
.kubek img{
    transition: transform 0.3s;
  }
.kubek img:hover {
    transform: scale(1.25);
  }
.kubek_opis
{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-content:center;
    font-weight: bold;
}
.kubek_cena{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 30px;
    justify-content: center;
}
.kubek_dodaj button {
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: slateblue;
    background-color:white;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    border: 6px solid;
    border-color:slateblue;
    padding-bottom: 2px;
    font-weight: bold;
}
.kubek_dodaj{
    text-align: center;
}

.smycz{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    border: 5px solid;
    border-color: slateblue;
}
.smycz img{
    transition: transform 0.3s;
  }
.smycz img:hover {
    transform: scale(1.25);
  }
.smycz_opis
{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-content:center;
    font-weight: bold;
}
.smycz_cena{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    justify-content: center;
    align-content:center;
}
.smycz_dodaj button{
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: slateblue;
    background-color:white;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    border: 6px solid;
    border-color:slateblue;
    padding-bottom: 2px;
    font-weight: bold;
}
.smycz_dodaj{
    text-align: center;
}

.dlugopis{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    border: 5px solid;
    border-color: slateblue;
}
.dlugopis img{
    transition: transform 0.3s;
  }
.dlugopis img:hover {
    transform: scale(1.25);
  }
.dlugopis_opis
{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-content:center;
    font-weight: bold;
}
.dlugopis_cena{
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    justify-content: center;
    align-content:center;
}
.dlugopis_dodaj button{
    grid-column: 3/4;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: slateblue;
    background-color:white;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    border: 6px solid;
    border-color:slateblue;
    padding-bottom: 2px;
    font-weight: bold;
}
.dlugopis_dodaj{
    text-align: center;
}
.maseczka{
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    border: 5px solid;
    border-color: slateblue;
    place-items: center;
}
.maseczka img{
    transition: transform 0.3s;
  }
.maseczka img:hover {
    transform: scale(1.25);
  }
.maseczka_opis
{
    grid-column: 1/2;
    grid-row: 6/7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-items:center;
    align-content:center;
    font-weight: bold;
}
.maseczka_cena{
    grid-column: 1/2;
    grid-row: 7/8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-items:center;
    align-content:center;
}
.maseczka_dodaj button{
    grid-column: 1/2;
    grid-row: 8/9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: slateblue;
    background-color:white;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    border: 6px solid;
    border-color:slateblue;
    padding-bottom: 2px;
    font-weight: bold;
}
.maseczka_dodaj{
    text-align: center;
}
.apaszka{
    grid-column: 2/3;
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    border: 5px solid;
    border-color: slateblue;
    justify-content: center;
    align-content:center;
}
.apaszka img{
    transition: transform 0.3s;
  }
.apaszka img:hover {
    transform: scale(1.25);
  }
.apaszka_opis
{
    grid-column: 2/3;
    grid-row: 6/7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-items:center;
    align-content:center;
    font-weight: bold;

}
.apaszka_cena{
    grid-column: 2/3;
    grid-row: 7/8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-items:center;
    align-content:center;

}
.apaszka_dodaj button{
    grid-column: 2/3;
    grid-row: 8/9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: slateblue;
    background-color:white;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    border: 6px solid;
    border-color:slateblue;
    padding-bottom: 2px;
    font-weight: bold;
}
.apaszka_dodaj{
    text-align: center;
}
.portfel{
    grid-column: 3/4;
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center;
    border: 5px solid;
    border-color: slateblue;
}
.portfel img{
    transition: transform 0.3s;
  }
.portfel img:hover {
    transform: scale(1.25);
  }
.portfel_opis
{
    grid-column: 3/4;
    grid-row: 6/7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-items:center;
    align-content:center;
    font-weight: bold;

}
.portfel_cena{
    grid-column: 3/4;
    grid-row: 7/8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-items:center;
    align-content:center;

}
.portfel_dodaj button{
    grid-column: 3/4;
    grid-row: 8/9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: slateblue;
    background-color:white;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    border: 6px solid;
    border-color:slateblue;
    padding-bottom: 2px;
    font-weight: bold;
}
.portfel_dodaj{
    text-align: center;
}
.koszulka{
    grid-column: 1/2;
    grid-row: 9/10;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    border: 5px solid;
    border-color: slateblue;
}
.koszulka img{
    transition: transform 0.3s;
  }
.koszulka img:hover {
    transform: scale(1.25);
  }
.koszulka_opis
{
    grid-column: 1/2;
    grid-row: 10/11;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-items:center;
    align-content:center;
    font-weight: bold;
}
.koszulka_cena{
    grid-column: 1/2;
    grid-row: 11/12;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-items:center;
    align-content:center;

}
.koszulka_dodaj button{
    grid-column: 1/2;
    grid-row: 12/13;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: slateblue;
    background-color:white;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    border: 6px solid;
    border-color:slateblue;
    padding-bottom: 2px;
    font-weight: bold;
}
.koszulka_dodaj{
    text-align: center;
}
.laser{
    grid-column: 2/3;
    grid-row: 9/10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: slateblue;
    background-color:white;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    border: 6px solid;
    border-color:slateblue;
    padding-bottom: 2px;
    font-weight: bold;
}
.laser img{
    transition: transform 0.3s;
  }
.laser img:hover {
    transform: scale(1.25);
  }
.laser_opis
{
    grid-column: 2/3;
    grid-row: 10/11;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-items:center;
    align-content:center;
    font-weight: bold;
}
.laser_cena{
    grid-column: 2/3;
    grid-row: 11/12;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-items:center;
    align-content:center;

}

.laser_dodaj button{
    grid-column: 2/3;
    grid-row: 12/13;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: slateblue;
    background-color:white;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    border: 6px solid;
    border-color:slateblue;
    padding-bottom: 2px;
    font-weight: bold;
}
.laser_dodaj{
    text-align: center;
}

.skarpetki{
    grid-column: 3/4;
    grid-row: 9/10;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    align-content:center;
    border: 5px solid;
    border-color: slateblue;
    place-items: center;
}
.skarpetki img{
    transition: transform 0.3s;
  }
.skarpetki img:hover {
    transform: scale(1.25);
  }
.skarpetki_opis
{
    grid-column: 3/4;
    grid-row: 10/11;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-items:center;
    align-content:center;
    font-weight: bold;

}
.skarpetki_cena{
    grid-column: 3/4;
    grid-row: 11/12;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    align-items:center;
    align-content:center;

}
.skarpetki_dodaj button{
    grid-column: 3/4;
    grid-row: 12/13;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: slateblue;
    background-color:white;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    border: 6px solid;
    border-color:slateblue;
    padding-bottom: 2px;
    font-weight: bold;
}
.skarpetki_dodaj{
    text-align: center;
}
.stopka {
    display: flex;
    flex-direction: row;
    clear: both;
    width:100%;
    height:60px;
    position: fixed;
    bottom: 0;
    background-color:#5E507A;
    align-items:center;
    align-content:center;
    text-align: center;

}
button {
    font-size: 30px;
    border: none;
    background-color: #5E507A;
}
.stopka>ul{
    letter-spacing: 2px;
    margin: 0 auto;
}



@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    85% { left: -300%; }
    95% { left: -400%; }
    100% { left: -400%; }
    }

    body { margin: 0; }
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure {
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite;
    }
#slider {
    max-width: 940px;
    margin: auto;
    margin-top: 5px;
}




h3{
    letter-spacing: 1px;

}
@media screen and (max-width:1350px)
{
    .content {
    display: flex;
    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-template-rows: repeat(21,auto);
    grid-column-gap: 1.5%;
    grid-row-gap: 0.5%;
    justify-content: center;
    align-content:center;

    }
    .kubek {

        display: flex;
        grid-column: 1/2;
        grid-row:1/2;
        justify-content: center;
        align-content:center;
        align-items:center;
    }
    .kubek_opis {
        display: flex;
        grid-column: 1/2;
        grid-row:2/3;
        justify-content: center;
        align-content:center;
        align-items:center;
    }
    .kubek_cena {
        display: flex;
        grid-column: 1/2;
        grid-row:3/4;
        justify-content: center;
        align-content:center;
        align-items:center;
    }
    .kubek_dodaj {
        display: flex;
        grid-column: 1/2;
        grid-row:4/5;
        justify-content: center;
        align-content:center;
        align-items:center;

    }
    .smycz {
        display: flex;
        grid-column: 2/3;
        grid-row:1/2;
        justify-content: center;
        align-content:center;
        align-items:center;
    }
    .smycz_opis {
        display: flex;
        grid-column: 2/3;
        grid-row:2/3;
        justify-content: center;
        align-content:center;
        align-items:center;
    }
    .smycz_cena {
        display: flex;
        grid-column: 2/3;
        grid-row:3/4;
        align-items:center;
    }
    .smycz_dodaj {
        display: flex;
        grid-column: 2/3;
        grid-row:4/5;
        justify-content: center;
        align-content:center;
        align-items:center;

    }
    .dlugopis {
        grid-column: 1/2;
        grid-row:5/6;
        justify-content: center;
        align-content:center;
    }
    .dlugopis_opis {
        grid-column: 1/2;
        grid-row:6/7;
        justify-content: center;
        align-content:center;
    }
    .dlugopis_cena {
        grid-column: 1/2;
        grid-row:7/8;
        justify-content: center;
        align-content:center;
    }
    .dlugopis_dodaj {
        grid-column: 1/2;
        grid-row:8/9;
        justify-content: center;
        align-content:center;
    }
    .maseczka {
        grid-column: 2/3;
        grid-row:5/6;
        justify-content: center;
        align-content:center;
    }
    .maseczka_opis {
        grid-column: 2/3;
        grid-row:6/7;
        justify-content: center;
        align-content:center;
    }
    .maseczka_cena {
        grid-column: 2/3;
        grid-row:7/8;
        justify-content: center;
        align-content:center;
    }
    .maseczka_dodaj {
        grid-column: 2/3;
        grid-row:8/9;
        justify-content: center;
        align-content:center;
    }
    .apaszka {
        grid-column: 1/2;
        grid-row:9/10;
        justify-content: center;
        align-content:center;
    }
    .apaszka_opis {
        grid-column: 1/2;
        grid-row:10/11;
        justify-content: center;
        align-content:center;
    }
    .apaszka_cena {
        grid-column: 1/2;
        grid-row:11/12;
        justify-content: center;
        align-content:center;
    }
    .apaszka_dodaj {
        grid-column: 1/2;
        grid-row:12/13;
        justify-content: center;
        align-content:center;
    }
    .portfel {
        grid-column: 2/3;
        grid-row:9/10;
        justify-content: center;
        align-content:center;
    }
    .portfel_opis {
        grid-column: 2/3;
        grid-row:10/11;
        justify-content: center;
        align-content:center;
    }
    .portfel_cena {
        grid-column: 2/3;
        grid-row:11/12;
        justify-content: center;
        align-content:center;
    }
    .portfel_dodaj {
        grid-column: 2/3;
        grid-row:12/13;
        justify-content: center;
        align-content:center;
    }
    .koszulka {
        grid-column: 1/2;
        grid-row:13/14;
        justify-content: center;
        align-content:center;
    }
    .koszulka_opis {
        grid-column: 1/2;
        grid-row:14/15;
        justify-content: center;
        align-content:center;
    }
    .koszulka_cena {
        grid-column: 1/2;
        grid-row:15/16;
        justify-content: center;
        align-content:center;
    }
    .koszulka_dodaj {
        grid-column: 1/2;
        grid-row:16/17;
        justify-content: center;
        align-content:center;
    }
    .laser {
        grid-column: 2/3;
        grid-row:13/14;
        justify-content: center;
        align-content:center;
    }
    .laser_opis {
        grid-column: 2/3;
        grid-row:14/15;
        justify-content: center;
        align-content:center;
    }
    .laser_cena {
        grid-column: 2/3;
        grid-row:15/16;
        justify-content: center;
        align-content:center;
    }
    .laser_dodaj {
        grid-column: 2/3;
        grid-row:16/17;
        justify-content: center;
        align-content:center;
    }
    .skarpetki {
        grid-column: 1/2;
        grid-row:17/18;
        justify-content: center;
        align-content:center;
    }
    .skarpetki_opis {
        grid-column: 1/2;
        grid-row:18/19;
        justify-content: center;
        align-content:center;
    }
    .skarpetki_cena {
        grid-column: 1/2;
        grid-row:19/20;
        justify-content: center;
        align-content:center;
    }
    .skarpetki_dodaj {
        grid-column: 1/2;
        grid-row:20/21;
        justify-content: center;
        align-content:center;
    }
    .stopka {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (max-width:900px)
{
    .content {
        display: flex;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: repeat(36,auto);
        grid-column-gap: 1.5%;
        grid-row-gap: 0.5%;
        justify-content: center;
        align-content:center;

        }
        .kubek {

            display: flex;
            grid-column: 1/2;
            grid-row:1/2;
            justify-content: center;
            align-content:center;
            align-items:center;
        }
        .kubek_opis {
            display: flex;
            grid-column: 1/2;
            grid-row:2/3;
            justify-content: center;
            align-content:center;
            align-items:center;
        }
        .kubek_cena {
            display: flex;
            grid-column: 1/2;
            grid-row:3/4;
            justify-content: center;
            align-content:center;
            align-items:center;
        }
        .kubek_dodaj {
            display: flex;
            grid-column: 1/2;
            grid-row:4/5;
            justify-content: center;
            align-content:center;
            align-items:center;

        }
        .smycz {
            display: flex;
            grid-column: 1/2;
            grid-row:5/6;
            justify-content: center;
            align-content:center;
            align-items:center;
        }
        .smycz_opis {
            display: flex;
            grid-column: 1/2;
            grid-row: 6/7;
            justify-content: center;
            align-content:center;
            align-items:center;
        }
        .smycz_cena {
            display: flex;
            grid-column: 1/2;
            grid-row:7/8;
            align-items:center;
        }
        .smycz_dodaj {
            display: flex;
            grid-column: 1/2;
            grid-row:8/9;
            justify-content: center;
            align-content:center;
            align-items:center;

        }
        .dlugopis {
            grid-column: 1/2;
            grid-row:9/10;
            justify-content: center;
            align-content:center;
        }
        .dlugopis_opis {
            grid-column: 1/2;
            grid-row:10/11;
            justify-content: center;
            align-content:center;
        }
        .dlugopis_cena {
            grid-column: 1/2;
            grid-row:11/12;
            justify-content: center;
            align-content:center;
        }
        .dlugopis_dodaj {
            grid-column: 1/2;
            grid-row:12/13;
            justify-content: center;
            align-content:center;
        }
        .maseczka {
            grid-column: 1/2;
            grid-row:13/14;
            justify-content: center;
            align-content:center;
        }
        .maseczka_opis {
            grid-column: 1/2;
            grid-row:14/15;
            justify-content: center;
            align-content:center;
        }
        .maseczka_cena {
            grid-column: 1/2;
            grid-row:15/16;
            justify-content: center;
            align-content:center;
        }
        .maseczka_dodaj {
            grid-column: 1/2;
            grid-row:16/17;
            justify-content: center;
            align-content:center;
        }
        .apaszka {
            grid-column: 1/2;
            grid-row:17/18;
            justify-content: center;
            align-content:center;
        }
        .apaszka_opis {
            grid-column: 1/2;
            grid-row:18/19;
            justify-content: center;
            align-content:center;
        }
        .apaszka_cena {
            grid-column: 1/2;
            grid-row:19/20;
            justify-content: center;
            align-content:center;
        }
        .apaszka_dodaj {
            grid-column: 1/2;
            grid-row:20/21;
            justify-content: center;
            align-content:center;
        }
        .portfel {
            grid-column: 1/2;
            grid-row:21/22;
            justify-content: center;
            align-content:center;
        }
        .portfel_opis {
            grid-column: 1/2;
            grid-row:22/23;
            justify-content: center;
            align-content:center;
        }
        .portfel_cena {
            grid-column: 1/2;
            grid-row:23/24;
            justify-content: center;
            align-content:center;
        }
        .portfel_dodaj {
            grid-column: 1/2;
            grid-row:24/25;
            justify-content: center;
            align-content:center;
        }
        .koszulka {
            grid-column: 1/2;
            grid-row:25/26;
            justify-content: center;
            align-content:center;
        }
        .koszulka_opis {
            grid-column: 1/2;
            grid-row:26/27;
            justify-content: center;
            align-content:center;
        }
        .koszulka_cena {
            grid-column: 1/2;
            grid-row:27/28;
            justify-content: center;
            align-content:center;
        }
        .koszulka_dodaj {
            grid-column: 1/2;
            grid-row:28/29;
            justify-content: center;
            align-content:center;
        }
        .laser {
            grid-column: 1/2;
            grid-row:29/30;
            justify-content: center;
            align-content:center;
        }
        .laser_opis {
            grid-column: 1/2;
            grid-row:30/31;
            justify-content: center;
            align-content:center;
        }
        .laser_cena {
            grid-column: 1/2;
            grid-row:31/32;
            justify-content: center;
            align-content:center;
        }
        .laser_dodaj {
            grid-column: 1/2;
            grid-row:32/33;
            justify-content: center;
            align-content:center;
        }
        .skarpetki {
            grid-column: 1/2;
            grid-row:33/34;
            justify-content: center;
            align-content:center;
        }
        .skarpetki_opis {
            grid-column: 1/2;
            grid-row:34/35;
            justify-content: center;
            align-content:center;
        }
        .skarpetki_cena {
            grid-column: 1/2;
            grid-row:35/36;
            justify-content: center;
            align-content:center;
        }
        .skarpetki_dodaj {
            grid-column: 1/2;
            grid-row:36/37;
            justify-content: center;
            align-content:center;
        }






}