* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: #282b27;
}

body {
    background-color: #FEFCFF;
    font-family: 'Red Rose', cursive;
    margin: 0;  
}

.header {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 1%;
    background-color: #FEFCFF;

}

#logopk {
    float: left;
    margin-left: 2%;
    margin-top: 30px;
    height: auto;

}

#logosspk {
    float: left;
    margin-top: 30px;
}

.text_logo {
    flex: 1 1 auto;
}
.text_logo h1 {
    font-size: 48px;
    text-align: center;
    color: rgb(58, 143, 195);
    font-weight: 700;
    margin-right: 10%;
}

.ikony {
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: right;
    background-color: #FEFCFF;
    border: none;
}

.ikona {
    background-color: #FEFCFF;
    border: none;
    font-size: 20px;
    margin-left: 15px;
}

.ikona:hover {
    cursor: pointer;
}

.mainitem_nav {
    flex: 1 1 auto;
    align-self: stretch;
    height:auto;
    text-align: center;
    background-color: #C0A4F9;
    position: -webkit-sticky;
    top: 0;
    position: sticky;
    left: 0;
    width: 100%;
    z-index: 100;
}
.przycisk {
  
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-block;
    text-align: center;
    margin-left: 2.5%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    height: 5%;
    
}

.przycisk:hover {
   
    color:  #5E507A;
    cursor: pointer;
}
.przycisk>a:hover{
    color: #FEFCFF;
}

.mainitem_container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
   }

#section_img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    width: 85%;
}
#section_img_text{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: left;
    align-self: stretch;
}

.zdjecia {
    float: left;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
}
#footer {
    background-color: #5E507A;
    height: auto;
    width: auto;
}
.footer-left {
    float: left;
    text-align: center;
    margin-left: 10%;
}
.footer-right {
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: 0.5%;
    margin-bottom: 1%;
    letter-spacing: 5px;
}

button {
    font-size: 30px;
    border: none;
    background-color: #5E507A;
}

#content {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: stretch;
    align-content: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: justify;
}

h1 {
    font-size: 40px;
    margin-top: 2%;
    text-align: center;
}
h2 {
    font-size: 30px;
    margin-top: 2%;
    text-align: center;
}

.stopowe_menu {
    float: left;
    margin-right: 20px;
    margin-top: 2%;
    font-size: 20px;
    letter-spacing: 2px;
}

.social {
    margin-top: auto;
}

a.header {
    font-size: 60px;
}

.row1 img {
    width: 10vw;
    height: 10vh;
    margin-left: 40px;
    border-color: gray;
    border-width: 3px;
}
.photos {
    overflow-y:scroll;
    max-height: 200px;

}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }

    body { margin: 0; }
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure {
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite;
    }
#slider {
    max-width: 940px;
    margin: auto;
    margin-top: 5px;
}
.item_art_1{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: left;
    margin-top: 5%;
   
}
div.wydarzenie{
    max-width: 50%;
    align-self: stretch;
    margin-top: 5%;
   
}
div.zdj{
    flex: 1 1 auto;
    min-width: 300px;
    margin-left: 10%;
    margin-top: 4%;
}

h3{
    letter-spacing: 1px;  
}
@media screen and (max-width:1025px){
    .section_img_text{
        -webkit-flex-direction: column;
        flex-direction: column;
        
    }
    .wydarzenie{
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .zdj {
        -webkit-flex-direction: column;
        flex-direction: column; 
    }
    }
}
@media screen and (max-width:769px){
    .section_img_text{
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        align-content: stretch;
        flex-wrap: wrap;
    }
    .wydarzenie{
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        align-content: stretch;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .zdj {
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        align-content: stretch;
        flex-wrap: wrap;
    }
   
    .content {
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        align-content: stretch;
        flex-wrap: wrap;
    }
}

